extends layout

block content
  #page-content-column
    #signin-form-content
      #signin-form-left
        .form-text
          h3 Welcome to X-Marketing
          h2 Please Sign In
      form#signin-form-detail(action=`/users/signin` method="post")
        .form-row
          label#email(for='email') Email
          input(type="text" name="email" placeholder="Enter your email" value='')
        .form-row  
          label#password(for="password") Password
          input(type="text" name="password" placeholder="Enter your password" value='')
        .form-row
          button#submit-bttn(type='submit') Sign In