@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  box-sizing: border-box;
  font-size: 1em;
  height: 100%;
  padding: 0px;
}

body {
  background: #2a7216;
  background: linear-gradient(to bottom, #f5f8f4, #8abd7c);
  background: -webkit-linear-gradient(to top, #f5f8f4, #8abd7c);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
}

footer {
  align-items: baseline;
  display: flex;
  font-size: small;
  justify-content: space-between;
  margin-top: auto;
  padding: 10px;
}

#footer-text {
  color: #222;
  text-decoration: none;
}

#page-content {
  display: flex;
  align-content: center;
  justify-content: center;
}

#page-content-column {
  display: flex;
  flex-direction: column;
}

#form-content {
  box-shadow: 10px 10px 10px #333;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}


#form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#form-detail {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex-basis: 100%;
}

.form-text {
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding: 1em;
  justify-content: space-around;
}

.form-text > h3 {
  color: #fff;
  font-size: 2.2em;
  font-weight: bold;
  text-align: center;
}


#form-detail > h2 {
  align-self: center;
  font-weight: 700;
  color: rgb(75, 77, 75);
  font-size: 2em;
}

.search-img-wrap {
  flex-basis: 100%;
  flex: 1;
  background-image: url("/images/moritz-kindler.jpg");
  background-size: cover;
  background-position: 85%; 
}

.register-img-wrap {
  flex-basis: 100%;
  flex: 1;

  background-image: url("/images/istockphoto-1286943539-170667a.jpg");
  background-size: cover;
}

a.link {
  font-size: 1.2em;
  font-weight: 600;
  border: solid 1px #2a7216;
  border-radius: 0.4em;
  background: linear-gradient(to right, #3e423e, #40832e);
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 2em auto;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
}

a.link:hover {
  background: linear-gradient(to left, #3e423e, #40832e);
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

label {
  font-weight: 500;
}

input {
  padding: 0.5em;
}

select {
  color: #222;
  height: 38px;
}

input,
select {
  width: 95%;
}

#submit-bttn {
  background: #40832e;
  background: linear-gradient(to left, #3e423e, #40832e);
  background: -webkit-linear-gradient(to left, #2a3527, #40832e);
  color: snow;
  font-size: 1.3em;
  padding: 0.5em;
  text-decoration: none;
}

#submit-bttn:hover {
  background: linear-gradient(to right, #3e423e, #40832e);
  cursor: pointer;
}

ul.flash {
  color: rgb(139, 3, 3);
  list-style-type: none;
}

#error-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#error-message-container {
  align-self: center;
  background-color: #f5f8f4;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin-top: 2em;
  max-width: 75%;
}

#error-message-container > h1 {
  text-align: center;
}

#account-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5em;
}

#account-msg > h2 {
  font-size: 2.3em;
}

.error {
  display: flex;
  flex-direction: column;
}

.error-msg-wrapper {
  display: flex;
  justify-content: center;
}

.error-bttn-wrapper {
  display: flex;
  justify-content: center;
}

#signin-form-content {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 3em auto;
}

@media only screen and (min-width: 600px) {
  #form-content {
    width: 60%;
    margin-top: 40px;
  }

  #form-right,
  #form-detail {
    flex-basis: 33%;
  }
}
