@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box; /* added */
  font-family: "Roboto", sans-serif;
  margin: 0; /* added */
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #f5f8f4, #bcd4b5);
  background: -webkit-linear-gradient(to top, #f5f8f4, #bcd4b5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
}

.nav-bar {
  /* align-items: center; */
  background-color: #fff;
  box-shadow: 0 8px 6px -6px rgb(77, 75, 75);
  display: flex; 
  flex-direction: column;
  padding: 10px 5px;
}

.nav-bar > a {
  color: #222;
  text-decoration: none;
}

.logo-wrap {
  margin-left: 25px;
}

.logo-wrap > a {
  color:#222;
  font-size: 1.8em;
  font-weight: bold;
  /* margin-left: -190px; */
  text-decoration: none;
}

.menu {
  position: absolute;
  right: 10px;
  top: 15px;

}

.menu-item {
  width: 20px;
  height: 3px;
  background-color: #222;
  margin-bottom: 4px;
}

.nav-list {
  list-style-type: none;
  display: none; 
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.nav-list > li {
  border-top: solid black 1px;
  padding: 10px;
}

nav > ul > li > a {
  color: #222;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: rgb(43, 55, 235);
}

.nav-logo:hover {
  color: rgb(87, 153, 25);
}

footer {
  align-items: baseline;
  display: flex;
  font-size: small;
  justify-content: space-between;
  margin-top: auto;
  padding: 10px;
}

#footer-text {
  color: #222;
  text-decoration: none;
}

#page-content-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form-content {
  box-shadow: 10px 10px 10px #333;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

#form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#form-detail {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex-basis: 100%;
}

.form-text {
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding: 1em;
  justify-content: space-around;
}

.form-text > h2, .form-text > h3 {
  color: #fff;
  font-size: 2.2em;
  font-weight: bold;
  text-align: center;
}

.form-text > h2 {
  color:#222;
}


/* #form-detail > h2 {
  align-self: center;
  font-weight: 700;
  color: rgb(75, 77, 75);
  font-size: 2em;
} */

.search-img-wrap {
  flex-basis: 100%;
  flex: 1;
  background-image: url("/images/moritz-kindler.jpg");
  background-size: cover;
  background-position: 85%; 
}

.register-img-wrap {
  flex-basis: 100%;
  flex: 1;

  background-image: url("/images/istockphoto-1286943539-170667a.jpg");
  background-size: cover;
}

a.link {
  font-size: 1.2em;
  font-weight: 600;
  border: solid 1px #2a7216;
  border-radius: 0.4em;
  background: linear-gradient(to right, #f5f8f4, #bcd4b5); 
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 2em auto;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
}

a.link:hover {
  background: linear-gradient(to left, #f5f8f4, #bcd4b5);
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

label {
  font-weight: 500;
}

input {
  padding: 0.5em;
}

select {
  color: #222;
  height: 38px;
}

input,
select {
  width: 100%;
}

#submit-bttn {
  background-color:  #89b17d;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 7px 0;
  text-decoration: none;
}

#submit-bttn:hover {
  /* background: linear-gradient(to right, #dde2dc, #d1edc8); */
  color: rgb(74, 73, 73);
  cursor: pointer;
}

ul.flash {
  color: rgb(139, 3, 3);
  list-style-type: none;
}

#error-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#error-message-container {
  align-self: center;
  background-color: #f5f8f4;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin-top: 2em;
  max-width: 75%;
}

#error-message-container > h1 {
  text-align: center;
}

#account-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5em;
}

.error {
  display: flex;
  flex-direction: column;
}

.error-msg-wrapper {
  display: flex;
  justify-content: center;
}

.error-bttn-wrapper {
  display: flex;
  justify-content: center;
}

#signin-form-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 3em auto;
  padding: 20px 24px;
}

.form-text > h4  {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
}

.active {
  display: flex;
}

@media only screen and (min-width: 600px) {
  #form-content {
    width: 60%;
    margin-top: 40px;
  }

  #form-right,
  #form-detail {
    flex-basis: 33%;
  }

  .nav-bar {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo-wrap > a {
    margin-left: 30px;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-list > li {
    border-top: none;
  }

  .menu {
    display: none;
  }
}